- var pageTitle = 'Cara Kerja Botnet'

include presentation-header

include menu

article#presentation

	section
		h2 Ini section Santun
		h3 wololo
		h4 Test test wololo such wow wow

	section
		h2 Wow
		img(src="images/doge.jpg")


include presentation-footer
include main-footer